.navbar {
    padding: 2vw;
    margin: 2vw;
    border-radius: 2vw;
    display: flex;
    justify-content: space-evenly;
    background-color: rgba(200, 200, 200, 1);
    position: sticky;
    top: 0;
    flex-wrap: wrap;
}

.nav_button {

    padding: 0.7vw 1.2vw;
    border: none;
    border-radius: 2vw;
    background-color: rgba(100, 100, 100, 1);
    color: #fff;
    font-size: 1.5vw;
    cursor: pointer;
    font-family: 'Old Standard TT', serif;
}

.nav_button:hover {
    background-color: rgba(200, 200, 200, 1);
}

